
results/.ipynb_checkpoints/swisscoveryIA-checkpoint.ipynb
tests/.ipynb_checkpoints/boolean_to_swisscovery-checkpoint.ipynb
tests/.ipynb_checkpoints/test_swisscoveryIA-checkpoint.ipynb
tests/.ipynb_checkpoints/test_swisscoveryIA-checkpoint.ipynb
tests/.ipynb_checkpoints/test_swisscoveryIA-checkpoint.ipynb
tests/.ipynb_checkpoints/movie-explorer-checkpoint.ipynb
tests/.ipynb_checkpoints/prompts_boolean-checkpoint.md
tests/.ipynb_checkpoints/prompts_concepts-checkpoint.md
tests/.ipynb_checkpoints/test_chatbot_llama2-checkpoint.ipynb
tests/.ipynb_checkpoints/test_chatbot_llama2_for_rag-checkpoint.ipynb
tests/.ipynb_checkpoints/test_interface_voila-checkpoint.ipynb
tests/.ipynb_checkpoints/test_interface_voila_2-checkpoint.ipynb
tests/.ipynb_checkpoints/test_interface_voila_3-checkpoint.ipynb
tests/.ipynb_checkpoints/test_interface_voila_4-checkpoint.ipynb
tests/.ipynb_checkpoints/test_swisscoveryIA-checkpoint.ipynb
results/.ipynb_checkpoints/swisscoveryIA_concept-checkpoint.ipynb
